@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  padding: 0 1rem;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 3px 3px 1px grey;
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
}
.city i {
  font-size: 1.5rem;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  font-size: 2em;
  margin-top: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #000000;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  background-color: white;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: dispersion 200ms;
  animation-fill-mode: forwards;
  transform-origin: top;
  animation-delay: 3s;
}
.loader i {
  font-size: 7rem;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to top, purple, #FF79DA);
}
.loader p {
  font-family: "Shrikhand", cursive;
  font-size: 4rem;
}

@keyframes dispersion {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.tuto {
  counter-reset: steps;
}
.tuto ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 800px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #000000;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  padding: 0.5rem;
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.tuto li:hover {
  transform: none scale(1.02);
}
.tuto li i {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

.restaurant {
  width: 100%;
  background-color: #f6f6f6;
  padding: 1rem;
  margin-bottom: 2rem;
}
.restaurant a {
  text-decoration: none;
  color: inherit;
}
.restaurant .restorant-1,
.restaurant .restorant-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.restaurant .restorant-1 .resto,
.restaurant .restorant-2 .resto {
  background-color: white;
  width: 45%;
  border: 1px solid white;
  border-radius: 1em;
  position: relative;
}
.restaurant .restorant-1 .resto img,
.restaurant .restorant-2 .resto img {
  width: 100%;
  border-radius: 1em 1em 0 0;
}
.restaurant .restorant-1 .resto .description,
.restaurant .restorant-2 .resto .description {
  position: relative;
}
.restaurant .restorant-1 .resto .description h3,
.restaurant .restorant-1 .resto .description p,
.restaurant .restorant-2 .resto .description h3,
.restaurant .restorant-2 .resto .description p {
  margin: 0.5rem;
  flex-wrap: wrap;
}
.restaurant .restorant-1 .resto .description i,
.restaurant .restorant-2 .resto .description i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 0.2rem;
}
.restaurant .restorant-1 .resto .description .fa-solid,
.restaurant .restorant-2 .resto .description .fa-solid {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: transparent;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.restaurant .restorant-1 .resto .description:hover .fa-solid,
.restaurant .restorant-2 .resto .description:hover .fa-solid {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
@media (max-width: 800px) {
  .restaurant .restorant-1,
  .restaurant .restorant-2 {
    flex-direction: column;
    width: 100%;
  }
  .restaurant .restorant-1 .resto,
  .restaurant .restorant-2 .resto {
    width: 100%;
  }
}
.restaurant .restorant-1 {
  margin-bottom: 1rem;
}
.restaurant .restorant-1 .new {
  position: relative;
}
.restaurant .restorant-1 .new::before {
  content: "Nouveau";
  height: 2rem;
  width: 4rem;
  background-color: #99E2d0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #1b6150;
  display: grid;
  place-items: center;
}

footer {
  padding: 1rem;
  color: white;
  text-align: center;
  background-color: #353535;
}
footer h2 {
  margin: 1rem;
}
footer p {
  margin: 0.5rem;
}
footer p a {
  color: inherit;
  text-decoration: none;
}

@keyframes annimation-petitBloc {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY0(0);
    opacity: 1;
  }
}
#fleche header::before {
  transition: transform 200ms;
}
#fleche header:hover::before {
  transform: translateY(-50%) scale(1.2);
}
#fleche a {
  text-decoration: none;
  color: inherit;
}
#fleche header::before {
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  content: "\f060";
  font-weight: 900;
  position: absolute;
  left: 1rem;
  text-decoration: none;
}

.image img {
  display: block;
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
  object-position: center bottom;
  margin-bottom: 0;
}

.globale {
  background-color: white;
}
.globale .gros {
  border-radius: 1rem 1rem 0 0;
  position: relative;
  margin-top: -2rem;
  background-color: white;
  padding: 1rem;
}
.globale .gros h2 {
  font-family: "Shrikhand", cursive;
  position: relative;
}
.globale .gros h2::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: inherit;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.globale .gros h2::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: inherit;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: transparent;
}
.globale .gros h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
.globale .menu-grid {
  background-color: white;
  display: grid;
  margin: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 800px) {
  .globale .menu-grid {
    grid-template-columns: 1fr;
  }
}
.globale .menu-grid h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.globale .menu-grid h3::before {
  content: "";
  width: 3rem;
  height: 0.2rem;
  left: 0;
  top: 1.5rem;
  background-color: #99E2d0;
  position: absolute;
}
.globale .menu-grid .group {
  overflow: hidden;
}
.globale .menu-grid .group .menu-items {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  margin: 0.5rem;
  box-shadow: 2px 1px 8px -3px #000000;
  animation: annimation-petitBloc 1s;
  animation-fill-mode: both;
}
.globale .menu-grid .group .menu-items:nth-child(1) {
  animation-delay: 100ms;
}
.globale .menu-grid .group .menu-items:nth-child(2) {
  animation-delay: 200ms;
}
.globale .menu-grid .group .menu-items:nth-child(3) {
  animation-delay: 300ms;
}
.globale .menu-grid .group .menu-items-description {
  padding: 1rem;
  overflow: hidden;
}
.globale .menu-grid .group .menu-items-description h4, .globale .menu-grid .group .menu-items-description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.globale .menu-grid .group .menu-items .prix {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.globale .menu-grid .group .menu-items .menu-items-check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  background-color: #99E2d0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
  border-radius: 0 1rem 1rem 0;
}
.globale .menu-grid .group .menu-items .menu-items-check i {
  display: grid;
  place-items: center;
  width: 2rem;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 1rem;
  color: #99E2d0;
}
.globale .menu-grid .group .menu-items:hover {
  cursor: pointer;
}
.globale .menu-grid .group .menu-items:hover .menu-items-check {
  margin-right: 0;
}
.globale .menu-grid .group .menu-items:hover i {
  animation: animation-check 0.5s ease-in-out;
}
@keyframes animation-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.globale .menu-grid .group .menu-items p, .globale .menu-grid .group .menu-items h4, .globale .menu-grid .group .menu-items h3 {
  padding: 0;
  margin: 0;
}
.globale section.commande {
  height: 20vh;
  display: grid;
  place-items: center;
}
.globale section.commande button {
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #000000;
}
.globale section.commande button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
